<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
  </head>
  <body>
    {{ intro }}
    <br />
    <ul>
      {{#each endpoints}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </body>
</html>